/****************************************************************
**  PROLEGOMENA
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--realwhite: #fafafa;
	--white: #eaeaea;
	--black: #3c3c3c;
	--black50: #3c3c3c30;
	--purple: #b91450;
	--green: #00c864;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--white);
	color: var(--black);
}

/****************************************************************
**  STRUCTURE
*/

/** CONTAINERS **/
.flex_cent_row_wrapper {
	display:flex;
	justify-content: center;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 50px;
	color: var(--black);
	background-color: var(--realwhite);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-radius: 5px;
	margin: 15px 15px 30px;
}

/** HEADER **/
.logo img {
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 20px;
}

/** INPUT **/
.input_box {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 20px;
}
.input_box input, button {
	padding: 5px;
	border: none;
	border-radius: 5px;
	outline: none;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	margin: 5px;
}
.input_box input {
	min-width: 250px;
}
button {
	cursor: pointer;
}
button:hover {
	background-color: var(--realwhite);
}

/** ITEM LIST **/
.output_box ul,
.output_box .no_task {
	list-style: none;
	width: 400px;
	padding: 20px;
	background-color: var(--white);
	border-radius: 5px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	margin-bottom: 20px;
}
.output_box .no_task {
	text-align: center;
}
.output_box ul li {
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 4px;
}
.output_box ul li:not(:last-child) {
	border-bottom: 1px solid var(--black50);
}
.output_box ul li:hover {
	background-color: var(--realwhite);
}

/** ITEM CONTROLS **/
.output_box ul li .list_edit {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	height: 100%;
	background-color: var(--realwhite);
}
.output_box ul li:hover .list_edit {
	display: block;
}
.list_edit_box {
	position: relative;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.output_box ul li .fas {
	cursor: pointer;
	padding: 5px 5px;
	/* border: 1px solid red; */
}
.output_box ul li .fas:hover:not(.inactive) {
	color: var(--purple);
}
.output_box ul li .inactive {
	color: var(--black50);
	cursor: auto;
}


/****************************************************************
**  X
*/

/****************************************************************
**  X
*/


